/* Qui suis-je Section */
.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px;
    max-width: 2500px;
    margin: 0 auto;
}

.about-content {
    width: 50%;
    padding-right: 50px;
}

.about-content h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #d1b798;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.about-content p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #000000;
    font-weight: 400;
}

.about-image {
    width: 90%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.image-circle {
    width: 800px; /* Augmentez la largeur de 350px à 500px */
    height: 800px; /* Augmentez la hauteur de 350px à 500px */
    background-color: #e5d8ca;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-circle img {
    width: 100%;
    height: auto;
}

/* Footer */
footer {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 20px 0;
    font-size: 0.875rem;
}
