/* --------------------------------------------------------------------------------------------------------------------------- PAGES AVIS -----------------------------------------------------------------------------------------------------------------------------------------*/

.avis {
    background-color: #ffffff;
    text-align: center;
    padding: 50px;
}

.avis h2 {
    font-size: 3rem; /* Légèrement plus grand pour mieux capter l'attention */
    margin-bottom: 40px;
    color: #333; /* Une couleur plus sombre pour plus de contraste */
    letter-spacing: 4px; /* Un espacement des lettres plus large pour un effet d'élégance */
    text-transform: uppercase; /* Met le texte en majuscules pour plus d'impact */
    font-weight: 700; /* Texte en gras pour un effet plus puissant */
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 5px solid #d4af37; /* Ajoute une bordure dorée en dessous */
}

/* Effet d'ombre subtile sur le texte */
.avis h2 {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Animation d'apparition au survol */
.avis h2:hover {
    color: #d4af37; /* Change la couleur du texte au survol */
    transition: color 0.3s ease; /* Ajoute une transition douce pour le changement de couleur */
}


.avis p {
    color: #111;
    font-size: clamp(20px, 1.5vw, 1vw); /* Taille minimale 16px, taille idéale 1.5vw, taille maximale 24px */
    margin-top: 20px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    overflow: hidden;
}

.rating i {
    color: #FFD700; /* Code couleur pour du doré */
    font-size: 20px; /* Ajuste la taille des étoiles selon tes besoins */
}

.quote-icon {
    margin-top: 20px;
}

.prev, .next {
    width: 150px;
    padding: 10px;
    background-color: #d4af37;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px; /* Réduit la marge autour des boutons */
}

.prev:hover, .next:hover {
    background-color: #b5952b;
}

/* --------------------------------------------------------------------------------------------------------------------------- PAGES AVIS MOBILE -----------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 1024px) {
    .avis {
        padding: 20px;
        background-color: #ffffffff;
        text-align: center;
        height: auto; /* Ajuste la hauteur automatiquement pour le contenu */
    }

    .avis h2 {
        font-size: 2rem;
        font-weight: bold;
        color: #111;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .avis p {
        color: #111;
        font-size: 1rem;
        margin-top: 10px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.4;
    }

    .avis-list blockquote {
        background: #111;
        padding: 20px;
        margin: 10px auto;
        max-width: 90%;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        color: #000;
    }

    .rating i {
        color: #FFD700; /* Code couleur pour du doré */
        font-size: 20px; /* Ajuste la taille des étoiles selon tes besoins */
    }
    .quote-icon {
        margin-top: 10px;
    }

    .prev, .next {
        width: 120px;
        padding: 8px;
        background-color: #d4af37;
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        margin: 5px;
    }

    .prev:hover, .next:hover {
        background-color: #b5952b;
    }

    .slider-controls {
    margin-bottom: 40px;
    }

    .slider-controls button {
        background: linear-gradient(to right, #d4af37, #f0e68c);
        }

}