
/* Styles pour les écrans de petite taille */
@media (max-width: 768px) {
    .galerie h1 {
        font-size: 1.8rem;
    }
    .galerie h2 {
        font-size: 1.5rem;
    }
    .gallery-item {
        width: 250px;
        height: 250px;
    }
}
