/* --------------------------------------------------------------------------------------------------------------------------- FORMULAIRE DE CONTACT -----------------------------------------------------------------------------------------------------------------------------------------*/

.contact {
    padding: 50px 50px;
    background-color: #e2d7ce;
    text-align: center;

}

.contact h2 {
    font-size: 3rem; /* Légèrement plus grand pour mieux capter l'attention */
    margin-bottom: 40px;
    color: #333; /* Une couleur plus sombre pour plus de contraste */
    letter-spacing: 4px; /* Un espacement des lettres plus large pour un effet d'élégance */
    text-transform: uppercase; /* Met le texte en majuscules pour plus d'impact */
    font-weight: 700; /* Texte en gras pour un effet plus puissant */
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 5px solid #d4af37; /* Ajoute une bordure dorée en dessous */
}

/* Effet d'ombre subtile sur le texte */
.contact h2 {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Animation d'apparition au survol */
.contact h2:hover {
    color: #d4af37; /* Change la couleur du texte au survol */
    transition: color 0.3s ease; /* Ajoute une transition douce pour le changement de couleur */
}


form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    color: #111;
}

label {
    margin: 10px 0 5px;
    font-size: 1rem;
}

input, textarea {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #ffffff;
    color: #fff;
}

button {
    padding: 15px;
    border: none;
    background-color: #d4af37;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 100px;
}

button:hover {
    background-color: #b5952b;
}

/* --------------------------------------------------------------------------------------------------------------------------- FORMULAIRE DE CONTACT MOBILE -----------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 1024px) {
    
    .contact {
        padding: 50px;
        background-color: #111;
        text-align: center;
    }

    .contact h2 {
        font-size: 2rem;
        margin-bottom: 20px;
        /* Effet dégradé pour ajouter de l'élégance */
      background: linear-gradient(to right, #d4af37, #f0e68c);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    form {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 50px;

    }

    label {
        margin: 10px 0 5px;
        font-size: 0.9rem;
        color: #ffffff;
    }

    input, textarea {
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1px solid #ffffff;
        background-color: #ffffff;
        color: #ffffff;
    }

    button {
        padding: 12px;
        background-color: #d4af37;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 5px;
        margin-bottom: 0; /* Supprime la marge pour la version mobile */
    }

    button:hover {
        background-color: #b5952b;
    }

    footer p {
        color: #fff;
    }
}