.galerie-home {
    background-color: #e2d7ce;
    text-align: center;
    overflow-x: hidden; /* Empêche le débordement horizontal */
    padding: 20px;
}

.galerie-home h2 {
    font-size: 3rem;
    margin-bottom: 100px;
    margin-top: 50px;
    color: #111;
}
.gallery-grid-home {
    display: flex; /* Arrange les images en ligne */
    gap: 20px; /* Espace entre les items */
    padding-bottom: 20px;
    overflow-x: hidden; /* Cache le défilement horizontal */
    white-space: nowrap; /* Empêche les images de se mettre à la ligne */
}

.gallery-item-home {
    flex: 0 0 auto; /* Garde la taille fixe des items et empêche de se redimensionner */
    width: 500px; /* Largeur des images */
    height: 600px; /* Hauteur des images */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    transition: transform 0.3s ease;
    margin-bottom: 50px;
}

.gallery-item-home:hover {
    transform: scale(1.05);
}

/* === Styles pour les téléphones mobiles === */
@media (max-width: 768px) {

    /* Section Galerie */
    .galerie-home {
        background-color: #111;
        text-align: center;
        overflow-x: visible; /* Permet le défilement horizontal */
        padding: 10px;
    }

    .galerie-home h1 {
        font-size: 1.8rem;
        color: #d1b798;
        margin-bottom: 50px;
    }

    .galerie-home h2 {
        font-size: 2rem;
        font-weight: bold;
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    .galerie-home {
        padding: 20px 0;
    }
    
    .gallery-grid-home{
        display: flex; /* Arrange les items en ligne */
        gap: 20px; /* Espace entre les items */
        overflow-x: auto; /* Permet le défilement horizontal */
        white-space: nowrap; /* Empêche les éléments de passer à la ligne */
        padding-bottom: 40px;
        background-color: #111;
    }

    .gallery-grid2 {
        height: 100vh;
        display: flex; /* Arrange les items en ligne */
        gap: 20px; /* Espace entre les items */
        overflow-x: auto; /* Permet le défilement horizontal */
        white-space: nowrap; /* Empêche les éléments de passer à la ligne */
        padding-bottom: 40px;
    }
    
    .gallery-item-home {
        flex: 0 0 auto; /* Garde la taille fixe des items et empêche de se redimensionner */
        width: 300px; /* Taille de chaque image, à ajuster selon tes préférences */
        height: 300px; /* Taille de chaque image, à ajuster selon tes préférences */
        background-size: cover;
        background-position: center;
        border-radius: 10px; /* Optionnel, donne des coins arrondis aux images */
    }
    

    .gallery-item-home:hover {
        transform: scale(1.05);
    }

     /* Section Galerie */
     .galerie {
        background-color: #111;
        text-align: center;
        overflow-x: visible; /* Permet le défilement horizontal */
        padding: 10px;
    }

    .galerie h1 {
        font-size: 1.8rem;
        color: #d1b798;
        margin-bottom: 50px;
    }

    .galerie h2 {
        font-size: 2rem;
        font-weight: bold;
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    .galerie {
        padding: 20px 0;
    }
    
    .gallery-grid{
        display: flex; /* Arrange les items en ligne */
        gap: 20px; /* Espace entre les items */
        overflow-x: auto; /* Permet le défilement horizontal */
        white-space: nowrap; /* Empêche les éléments de passer à la ligne */
        padding-bottom: 40px;
        background-color: #111;
    }

    .gallery-grid2 {
        height: 100vh;
        display: flex; /* Arrange les items en ligne */
        gap: 20px; /* Espace entre les items */
        overflow-x: auto; /* Permet le défilement horizontal */
        white-space: nowrap; /* Empêche les éléments de passer à la ligne */
        padding-bottom: 40px;
    }
    
    .gallery-item {
        flex: 0 0 auto; /* Garde la taille fixe des items et empêche de se redimensionner */
        width: 300px; /* Taille de chaque image, à ajuster selon tes préférences */
        height: 300px; /* Taille de chaque image, à ajuster selon tes préférences */
        background-size: cover;
        background-position: center;
        border-radius: 10px; /* Optionnel, donne des coins arrondis aux images */
    }
    

    .gallery-item:hover {
        transform: scale(1.05);
    }
}


