/* --------------------------------------------------------------------------------------------------------------------------- STYLES GÉNÉRAUX -----------------------------------------------------------------------------------------------------------------------------------------*/

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    color: #111;
    text-align: center;
    padding: 30px 0;
    font-size: 0.875rem;
}

/* --------------------------------------------------------------------------------------------------------------------------- PAGES GALERIE -----------------------------------------------------------------------------------------------------------------------------------------*/

.gallery-desktop {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre horizontalement la gallery-desktop */
    justify-content: center;
    text-align: center;
    background-color: #fff; /* Ajuste la couleur selon ton besoin */
    padding: 20px;
}

.gallery-desktop h1 {
    font-size: 3rem; /* Légèrement plus grand pour mieux capter l'attention */
    margin-bottom: 40px;
    color: #333; /* Une couleur plus sombre pour plus de contraste */
    letter-spacing: 4px; /* Un espacement des lettres plus large pour un effet d'élégance */
    text-transform: uppercase; /* Met le texte en majuscules pour plus d'impact */
    font-weight: 700; /* Texte en gras pour un effet plus puissant */
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 5px solid #d4af37; /* Ajoute une bordure dorée en dessous */
}

/* Effet d'ombre subtile sur le texte */
.gallery-desktop h1 {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Animation d'apparition au survol */
.gallery-desktop h1:hover {
    color: #d4af37; /* Change la couleur du texte au survol */
    transition: color 0.3s ease; /* Ajoute une transition douce pour le changement de couleur */
}

/* Style pour le carrousel */
.carousel {
    position: relative;
    margin: 0 auto;
    text-align: center;
    height: 500px;
    width: 900px;
}

.carousel-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.carousel-image.active {
    display: block;
}

/* Boutons de navigation (Précédent et Suivant) */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%; /* Forme ronde */
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.prev {
    left: -25px;
}

.next {
    right: -25px;
}

/* Effet au survol */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateY(-50%) scale(1.1);
}

/* Icônes plus modernes avec FontAwesome */
.prev i, .next i {
    font-size: 24px; /* Taille de l'icône */
}

/* Voir tout bouton */
.view-all-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #d4af37;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.view-all-btn:hover {
    background-color: #333;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100; 
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal-gallery-grid {
    gap: 10px;
    max-width: 1500px;
    margin: 0 auto;
}

/* Style pour les miniatures dans le modal */
.modal-thumbnail {
    width: 200px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.modal-thumbnail:hover {
    transform: scale(1.1);
}

.modal-large-image {
    max-width: 100%;
    max-height: 100%;
    margin: 20px 0;
}

/* Bouton de fermeture */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* --------------------------------------------------------------------------------------------------------------------------- PAGES gallery MOBILE -----------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 1025px) {
    .gallery {
        display: none;
    }}
/* === Styles pour les téléphones mobiles === */
@media (max-width: 1024px) {
    .gallery-desktop {
        display: none;
    }

    /* Section gallery */
    .gallery {
        background-color: #111;
        text-align: center;
        overflow-x: visible; /* Permet le défilement horizontal */
        padding: 10px;
    }
    .gallery {
        background-color: #111;
    }
    .gallery h2 {
        font-size: 1.5rem; /* Augmente la taille du titre pour plus de présence */
        font-weight: 700; /* Texte en gras pour un effet plus puissant */
        color: #333; /* Un gris foncé pour un bon contraste */
        text-transform: uppercase; /* Texte en majuscules pour plus d'impact */
        letter-spacing: 3px; /* Espacement entre les lettres pour un look moderne */
        text-align: center; /* Centre le titre */
        margin-bottom: 50px;
        position: relative; /* Permet d'ajouter des éléments décoratifs autour */
    
        /* Effet dégradé pour ajouter de l'élégance */
        background: linear-gradient(to right, #d4af37, #f0e68c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    /* Ajout d'une ligne décorative dorée sous le titre */
    .gallery h2::after {
        content: '';
        display: block;
        width: 100px; /* Largeur de la ligne */
        height: 4px; /* Épaisseur de la ligne */
        background-color: #d4af37; /* Doré pour plus d'élégance */
        margin: 10px auto; /* Centre la ligne sous le titre */
        border-radius: 2px; /* Arrondi les bords pour un effet moderne */
    }
    
    /* Animation pour faire apparaître le titre */
    .gallery h2 {
        animation: fadeInTitle 1s ease-out;
    }
    
    @keyframes fadeInTitle {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .gallery-grid {
        height: 100vh;
        display: flex; /* Arrange les items en ligne */
        gap: 20px; /* Espace entre les items */
        overflow-x: auto; /* Permet le défilement horizontal */
        white-space: nowrap; /* Empêche les éléments de passer à la ligne */
        padding-bottom: 40px;
    }
    
    .gallery-item-home {
        flex: 0 0 auto; /* Garde la taille fixe des items et empêche de se redimensionner */
        width: 300px; /* Taille de chaque image, à ajuster selon tes préférences */
        height: 300px; /* Taille de chaque image, à ajuster selon tes préférences */
        background-size: cover;
        background-position: center;
        border-radius: 10px; /* Optionnel, donne des coins arrondis aux images */
    }
    

    .gallery-item-home:hover {
        transform: scale(1.05);
    }

     /* Section gallery-desktop */
     .gallery-desktop {
        background-color: #111;
        text-align: center;
        overflow-x: visible; /* Permet le défilement horizontal */
        padding: 10px;
    }

    .gallery-desktop h1 {
        font-size: 1.8rem;
        color: #d1b798;
        margin-bottom: 50px;
    }

    .gallery-desktop h2 {
        font-size: 2rem;
        font-weight: bold;
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    .gallery-desktop {
        padding: 20px 0;
    }
    
    .gallery-grid{
        display: flex; /* Arrange les items en ligne */
        gap: 20px; /* Espace entre les items */
        overflow-x: auto; /* Permet le défilement horizontal */
        white-space: nowrap; /* Empêche les éléments de passer à la ligne */
        padding-bottom: 40px;
        background-color: #111;
    }

    .gallery-grid2 {
        height: 100vh;
        display: flex; /* Arrange les items en ligne */
        gap: 20px; /* Espace entre les items */
        overflow-x: auto; /* Permet le défilement horizontal */
        white-space: nowrap; /* Empêche les éléments de passer à la ligne */
        padding-bottom: 40px;
    }
    
    .gallery-item {
        flex: 0 0 auto; /* Garde la taille fixe des items et empêche de se redimensionner */
        width: 300px; /* Taille de chaque image, à ajuster selon tes préférences */
        height: 300px; /* Taille de chaque image, à ajuster selon tes préférences */
        background-size: cover;
        background-position: center;
        border-radius: 10px; /* Optionnel, donne des coins arrondis aux images */
    }
    

    .gallery-item:hover {
        transform: scale(1.05);
    }

    footer {
        background-color: #111;
        color: #fff;
    }
}


