/* Global Styles */
html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #ffffff;
    min-height: 100%; /* Assure que le body prend au moins la taille de la fenêtre */
    position: relative; /* Position relative pour permettre au footer d'être absolu */
}

header {
    background-color: #ffffff;
    height: 80px;
    padding: 0;
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
    transition: color 0.3s ease;
    font-size: 18px;
}

nav ul li a:hover {
    color: #d4af37;
}

/* Assure que le footer reste en bas si la page n'a pas assez de contenu */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    font-size: 0.875rem;
    position: absolute; /* Rend le footer absolu par rapport au body */
    bottom: 0;
    width: 100%;
}

/* Masquer l'icône hamburger par défaut, l'afficher seulement sur les petits écrans */
.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #000;
    position: absolute;
    top: 25px;
    right: 20px;
}

/* Styles pour le menu de navigation */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Cacher le menu sur mobile par défaut */
@media (max-width: 768px) {
    .menu-icon {
        display: block; /* Affiche l'icône hamburger */
    }

    nav ul {
        display: none; /* Cacher le menu par défaut sur petits écrans */
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        background-color: #fff;
        text-align: center;
    }

    nav ul.active {
        display: flex; /* Affiche le menu quand on clique sur l'icône hamburger */
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 18px;
    }
}
