/* Global Styles */
html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #ffffff;
    min-height: 100%; /* Assure que le body prend au moins la taille de la fenêtre */
    position: relative; /* Position relative pour permettre au footer d'être absolu */
}

header {
    background-color: #ffffff;
    height: 80px;
    padding: 0;
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
    transition: color 0.3s ease;
    font-size: 18px;
}

nav ul li a:hover {
    color: #d4af37;
}

/* Assure que le footer reste en bas si la page n'a pas assez de contenu */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    font-size: 0.875rem;
    position: absolute; /* Rend le footer absolu par rapport au body */
    bottom: 0;
    width: 100%;
}

/* Styles pour le menu hamburger */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 25px;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: flex; /* Afficher le menu hamburger sur petits écrans */
    }

    nav ul {
        display: none; /* Cacher le menu par défaut sur mobile */
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        background-color: #ffffff;
    }

    nav ul.active {
        display: flex; /* Montrer le menu quand on clique sur l'icône hamburger */
    }

    nav ul li {
        margin: 10px 0; /* Espacement entre les éléments du menu en mode mobile */
    }

    nav ul li a {
        font-size: 20px;
    }
}
