/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background-color: #f5f5f5;
    overflow: hidden; /* Empêche le contenu de dépasser */
}

.hero-left {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden; /* Empêche le débordement du collage */
    position: relative;
}

.image-collage {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adaptatif */
    grid-auto-rows: 1fr; /* Carré ajusté */
    gap: 10px;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Assure que les images ne dépassent pas */
}

.image-item {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    
    /* Transition pour un effet fluide sur le survol */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Agrandissement lors du hover */
.image-item:hover {
    transform: scale(1.05); /* Agrandit légèrement l'image */
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2); /* Accentue l'ombre au survol */
}

.hero-right {
    width: 40%;
    background-color: #e5d8ca;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 1; /* Pour être sûr que cette section soit au-dessus */
}

.hero-right h1 {
    font-size: 5rem;
}

.hero-right p {
    font-size: 30px;
}

.hero-right button {
    margin-top: 50px;
    padding: 8px 16px;
    background-color: #d9c5b2;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    color: black;
}

/* Pour les petits écrans */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        height: auto;
    }

    .hero-left, .hero-right {
        width: 100%;
        max-width: none;
    }

    .image-collage {
        margin-left: 0;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Moins de colonnes sur petits écrans */
        grid-auto-rows: 100px; /* Ajustement de la hauteur */
    }

    .image-item {
        height: 100px;
        width: 100px;
    }
}
