/* --------------------------------------------------------------------------------------------------------------------------- STYLE GÉNÉRAUX -----------------------------------------------------------------------------------------------------------------------------------------*/

html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Évite le défilement horizontal si présent */
}

body {
    position: relative;
    min-height: 100vh; /* Assure que le body occupe toute la hauteur de la fenêtre */
    margin: 0;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    color: #111;
    text-align: center;
    padding: 30px 0;
    font-size: 0.875rem;
}

/* --------------------------------------------------------------------------------------------------------------------------- PAGES D'ACCUEIL SERVICES -----------------------------------------------------------------------------------------------------------------------------------------*/

/* Centrer le titre des services */
.home-services-index {
    text-align: center;
    padding: 30px;
    background-color: #e2d7ce;
}

.home-services-index h2 {
    font-size: 3rem; /* Légèrement plus grand pour mieux capter l'attention */
    margin-bottom: 60px;
    color: #111; /* Une couleur plus sombre pour plus de contraste */
    letter-spacing: 4px; /* Un espacement des lettres plus large pour un effet d'élégance */
    text-transform: uppercase; /* Met le texte en majuscules pour plus d'impact */
    font-weight: 700; /* Texte en gras pour un effet plus puissant */
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 5px solid #d4af37; /* Ajoute une bordure dorée en dessous */
}

/* Effet d'ombre subtile sur le texte */
.home-services-index h2 {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Animation d'apparition au survol */
.home-services-index h2:hover {
    color: #d4af37; /* Change la couleur du texte au survol */
    transition: color 0.3s ease; /* Ajoute une transition douce pour le changement de couleur */
}


/* Conteneur des services */
.home-service-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 50px;
    margin-bottom: 50px;
}

.home-service-item {
    flex: 1;
    background: linear-gradient(135deg, #e2d7ce 0%, #ffffff 50%, #ffffff 100%);
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;

    /* Centrer verticalement et horizontalement */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px; /* Assure une hauteur constante pour les services */

    /* Animation de gradient */
    background-size: 300% 300%; 
    animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Cacher le contenu (paragraphe et bouton) par défaut */
.home-service-item p,
.home-service-item button {
    display: none;
}

/* Afficher le contenu et agrandir l'item au survol */
.home-service-item:hover {
    flex: 2; /* Agrandir l'élément au survol */
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}

.home-service-item:hover p,
.home-service-item:hover button {
    display: block; /* Affiche le paragraphe et le bouton au survol */
}

/* Styles des titres des services */
.home-service-item h3 {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 20px;
}

/* Bouton des services */
.home-service-item button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #bbb;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-service-item button:hover {
    background-color: #d4af37;
}

/* Centrer aussi le paragraphe */
.home-service-item p {
    margin: 0;
    text-align: center;
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}

/* --------------------------------------------------------------------------------------------------------------------------- PAGES SERVICES -----------------------------------------------------------------------------------------------------------------------------------------*/
/* Centrer le titre des services */
.service-section {
    text-align: center;
    padding: 50px;
    background-color: #ffffff;
}

.service-section h2 {
    font-size: 3rem; /* Légèrement plus grand pour mieux capter l'attention */
    margin-bottom: 100px;
    color: #333; /* Une couleur plus sombre pour plus de contraste */
    letter-spacing: 4px; /* Un espacement des lettres plus large pour un effet d'élégance */
    text-transform: uppercase; /* Met le texte en majuscules pour plus d'impact */
    font-weight: 700; /* Texte en gras pour un effet plus puissant */
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 5px solid #d4af37; /* Ajoute une bordure dorée en dessous */
}

/* Effet d'ombre subtile sur le texte */
.service-section h2 {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Animation d'apparition au survol */
.service-section h2:hover {
    color: #d4af37; /* Change la couleur du texte au survol */
    transition: color 0.3s ease; /* Ajoute une transition douce pour le changement de couleur */
}

/* Conteneur des services */
.service-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 50px;
    margin-bottom: 50px;
}

.service-item {
    flex: 1;
    background: linear-gradient(135deg, #e2d7ce 0%, #eeeeee 50%, #eaeaea 100%);
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;

    /* Centrer verticalement et horizontalement */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px; /* Assure une hauteur constante pour les services */

    /* Animation de gradient */
    background-size: 300% 300%; 
    animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* Cacher le contenu par défaut */
.service-item p,
.service-item button {
    display: none;
}

/* Afficher le contenu et agrandir l'item au survol */
.service-item:hover {
    flex: 2; /* Agrandir l'élément survolé */
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}

.service-item:hover p,
.service-item:hover button {
    display: block; /* Afficher le contenu au survol */
}

/* Styles des titres de services */
.service-item h3 {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 20px;
}

/* Bouton de services */
.service-item button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #bbb;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.service-item button:hover {
    background-color: #d4af37;
}

/* Centrer aussi le paragraphe */
.service-item p {
    margin: 0;
    text-align: center;
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}

/* --------------------------------------------------------------------------------------------------------------------------- PAGES ACCUEIL SERVICES MOBILE -----------------------------------------------------------------------------------------------------------------------------------------*/

/* Styles pour mobile */
@media (max-width: 1024px) {

    .home-services-index {
        background-color: #111;
    }
    .home-services-index h2 {
        font-size: 2rem; /* Augmente la taille du titre pour plus de présence */
        font-weight: 700; /* Texte en gras pour un effet plus puissant */
        color: #333; /* Un gris foncé pour un bon contraste */
        text-transform: uppercase; /* Texte en majuscules pour plus d'impact */
        letter-spacing: 3px; /* Espacement entre les lettres pour un look moderne */
        text-align: center; /* Centre le titre */
        margin-bottom: 50px;
        position: relative; /* Permet d'ajouter des éléments décoratifs autour */
    
        /* Effet dégradé pour ajouter de l'élégance */
        background: linear-gradient(to right, #d4af37, #f0e68c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    /* Animation pour faire apparaître le titre */
    .home-services-index h2 {
        animation: fadeInTitle 1s ease-out;
    }
    
    @keyframes fadeInTitle {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .home-service-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center; /* Centre les éléments horizontalement */
        justify-content: center; /* Centre les éléments verticalement */
        padding: 0 20px; /* Ajoute du padding pour éviter que les services touchent les bords */
    }
    
    .home-service-item {
        width: 100%; /* Assure que les services prennent toute la largeur disponible */
        max-width: 400px; /* Limite la largeur des services pour qu'ils ne soient pas trop larges */
        transition: all 0.3s ease;
        flex: 1;
        text-align: center; /* Centre le contenu à l'intérieur de chaque service */
    }
    
    /* Agrandir l'élément actif */
    .home-service-item.active {
        flex: 2.5;
        transition: flex 0.3s ease;
        height: auto;
    }
    
    /* Cacher le texte par défaut */
    .home-service-item p {
        display: none;
    }
    
    /* Afficher le texte pour l'élément actif */
    .home-service-item.active p {
        display: block;
    }
    
    /* Changer la couleur du bouton actif */
    .home-service-item.active button {
        background-color: #d4af37;
    }
    
    /* Réduire la taille des services non actifs */
    .home-service-item:not(.active) {
        flex: 0.8;
        transition: flex 0.3s ease;
    }
    
    
/* --------------------------------------------------------------------------------------------------------------------------- PAGES SERVICES MOBILE -----------------------------------------------------------------------------------------------------------------------------------------*/

.service-section {
    background-color: #111;
}
.service-section h2 {
    font-size: 1.5rem; /* Augmente la taille du titre pour plus de présence */
    font-weight: 700; /* Texte en gras pour un effet plus puissant */
    color: #333; /* Un gris foncé pour un bon contraste */
    text-transform: uppercase; /* Texte en majuscules pour plus d'impact */
    letter-spacing: 3px; /* Espacement entre les lettres pour un look moderne */
    text-align: center; /* Centre le titre */
    margin-bottom: 50px;
    position: relative; /* Permet d'ajouter des éléments décoratifs autour */

    /* Effet dégradé pour ajouter de l'élégance */
    background: linear-gradient(to right, #d4af37, #f0e68c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Animation pour faire apparaître le titre */
.service-section h2 {
    animation: fadeInTitle 1s ease-out;
}

@keyframes fadeInTitle {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.service-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; /* Centre les éléments horizontalement */
    justify-content: center; /* Centre les éléments verticalement */
    padding: 20px 20px; /* Ajoute du padding pour éviter que les services touchent les bords */
}

.service-item {
    width: 100%; /* Assure que les services prennent toute la largeur disponible */
    max-width: 400px; /* Limite la largeur des services pour qu'ils ne soient pas trop larges */
    transition: all 0.3s ease;
    flex: 1;
    text-align: center; /* Centre le contenu à l'intérieur de chaque service */
}

/* Agrandir l'élément actif */
.service-item.active {
    flex: 2.5;
    transition: flex 0.3s ease;
    height: auto;
}

/* Cacher le texte par défaut */
.service-item p {
    display: none;
}

/* Afficher le texte pour l'élément actif */
.service-item.active p {
    display: block;
}

/* Changer la couleur du bouton actif */
.service-item.active button {
    background-color: #d4af37;
}

/* Réduire la taille des services non actifs */
.service-item:not(.active) {
    flex: 0.8;
    transition: flex 0.3s ease;
}

/* Ajuster la taille du titre sur mobile */
.service-list h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #111;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.body {
    background-color: #111;
}
footer {
    background-color: #111;
    color: #fff;
}

}
