/* Tarifs Section */
.tarifs {
    padding: 40px;
    background-color: #f9f9f9;
    text-align: center;
}

.tarifs h1 {
    font-size: 2.2rem;
    margin-bottom: 80px;
    color: #333;
}

.tarif-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.tarif-item {
    background-color: #e5d8ca;
    padding: 15px;
    width: 75%;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    
    /* Ajoute une transition fluide */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Agrandissement lors du hover */
.tarif-item:hover {
    transform: scale(1.05); /* Agrandit légèrement l'élément tarif */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Ajoute une ombre plus prononcée */
}

.tarif-item h3 {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 8px;
}

.tarif-item .price {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.tarif-item ul {
    list-style: none;
    padding-left: 0;
}

.tarif-item ul li {
    margin: 4px 0;
    font-size: 0.9rem;
    color: #555;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: #f9f8f6;
}

.hero-image {
    flex: 1;
    max-width: 50%;
}

.hero-image img {
    width: 100%;
    border-radius: 50%;
}


.tarif-list {
    padding-bottom: 200px; /* Ajoute un espace entre le dernier tarif et le footer */
}

/* Pour les petits écrans */
@media (max-width: 768px) {
    .tarif-item {
        width: 90%;
    }

    .hero-section {
        flex-direction: column;
        height: auto;
    }

    .hero-image, .hero-text {
        max-width: 100%;
    }

    .hero-text {
        text-align: center;
    }
}
