/* --------------------------------------------------------------------------------------------------------------------------- PAGES D'ACCUEIL TARIF -----------------------------------------------------------------------------------------------------------------------------------------*/

footer {
    background-color: #fff;
    color: #111;
}

/* --------------------------------------------------------------------------------------------------------------------------- PAGES D'ACCUEIL TARIF -----------------------------------------------------------------------------------------------------------------------------------------*/

.home-price {
    display: flex;
    flex-direction: row; /* Les éléments sont alignés en ligne sur grand écran */
    align-items: center;
    justify-content: space-between; /* Espace entre l'image et le texte */
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px; /* Limite la largeur totale de la section */
}

.home-price-image {
    flex: 1;
    max-width: 100%; /* L'image occupe jusqu'à 50% de la largeur */
    display: flex;
    justify-content: center; /* Centre horizontalement l'image */
}

.home-price-image img {
    width: 100%; /* L'image s'adapte à la largeur de son conteneur */
    height: auto; /* Maintient le ratio d'aspect de l'image */
    max-width: 600px; /* Limite la largeur maximale de l'image sur grand écran */
    object-fit: contain; /* Assure que l'image reste entièrement visible dans son conteneur */
}

.home-price-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centre le texte horizontalement */
    padding-left: 50px; /* Optionnel : ajuster ou retirer si nécessaire */
    text-align: center; /* Centre le texte à l'intérieur de la div */
}

.home-price-text h1 {
    font-size: clamp(24px, 2vw, 36px); /* Adapte la taille du titre au viewport */
    margin-bottom: 20px;
    line-height: 1.2; /* Assure un bon espacement entre les lignes */
}

.home-price-text button {
    height: auto;
    width: auto;
    padding: 12px 24px;
    font-size: 1rem; /* Taille fixe pour le bouton */
    border-radius: 10px;
    margin-top: 20px;
}

/* --------------------------------------------------------------------------------------------------------------------------- PAGES TARIFS -----------------------------------------------------------------------------------------------------------------------------------------*/

/* Par défaut, seuls les titres h3 sont visibles */
.price-item .price,
.price-item ul {
    display: none; /* On cache les prix et les détails */
}

/* Quand on survole un price-item, on affiche les détails */
.price-item:hover .price,
.price-item:hover ul {
    display: block; /* Affiche les prix et les détails au survol */
}

/* Styles de base */
.price-section {
    padding: 40px;
    background-color: #fff;
    text-align: center;
}

.price-section h1 {
    font-size: 3rem; /* Légèrement plus grand pour mieux capter l'attention */
    margin-bottom: 40px;
    color: #333; /* Une couleur plus sombre pour plus de contraste */
    letter-spacing: 4px; /* Un espacement des lettres plus large pour un effet d'élégance */
    text-transform: uppercase; /* Met le texte en majuscules pour plus d'impact */
    font-weight: 700; /* Texte en gras pour un effet plus puissant */
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 5px solid #d4af37; /* Ajoute une bordure dorée en dessous */
}

/* Effet d'ombre subtile sur le texte */
.price-section h1 {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Animation d'apparition au survol */
.price-section h1:hover {
    color: #d4af37; /* Change la couleur du texte au survol */
    transition: color 0.3s ease; /* Ajoute une transition douce pour le changement de couleur */
}

.price-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding-bottom: 100px; /* Ajoute un padding supplémentaire en bas */
}

.price-item {
    background-color: #fcf2e4;
    padding: 15px;
    width: 75%;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    
    /* Ajoute une transition fluide */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer; /* Indique qu'il est interactif */
}

/* Agrandissement lors du hover */
.price-item:hover {
    transform: scale(1.05); /* Agrandit légèrement l'élément tarif au survol */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée */
}

.price-item h3 {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 8px;
}

.price-item .price {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.price-item ul {
    list-style: none;
    padding-left: 0;
}

.price-item ul li {
    margin: 4px 0;
    font-size: 0.9rem;
    color: #555;
}



/* --------------------------------------------------------------------------------------------------------------------------- PAGES D'ACCUEIL TARIFS MOBILE -----------------------------------------------------------------------------------------------------------------------------------------*/

/* Pour les petits écrans (mobile) */
@media (max-width: 1024px) {

    .home-price {
        flex-direction: column; /* Empile l'image et le texte en colonne */
        text-align: center; /* Centre le texte et le bouton */
    }

    .home-price-text {
        align-items: center;
        padding-left: 0;
    }

    .home-price-text button {
        width: 100%; /* Le bouton prend toute la largeur */
    }


/* --------------------------------------------------------------------------------------------------------------------------- PAGES TARIFS MOBILE -----------------------------------------------------------------------------------------------------------------------------------------*/


    .price-section {
        padding: 40px;
        background-color: #111; /* Fond sombre sur mobile */
        text-align: center;
    }


    .price-section h1 {
        font-size: 2.5rem; /* Augmente la taille du titre pour plus de présence */
        font-weight: 700; /* Texte en gras pour un effet plus puissant */
        color: #333; /* Un gris foncé pour un bon contraste */
        text-transform: uppercase; /* Texte en majuscules pour plus d'impact */
        letter-spacing: 3px; /* Espacement entre les lettres pour un look moderne */
        text-align: center; /* Centre le titre */
        margin-bottom: 50px;
        position: relative; /* Permet d'ajouter des éléments décoratifs autour */
    
        /* Effet dégradé pour ajouter de l'élégance */
        background: linear-gradient(to right, #d4af37, #f0e68c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    /* Ajout d'une ligne décorative dorée sous le titre */
    .price-section h1::after {
        content: '';
        display: block;
        width: 100px; /* Largeur de la ligne */
        height: 4px; /* Épaisseur de la ligne */
        background-color: #d4af37; /* Doré pour plus d'élégance */
        margin: 10px auto; /* Centre la ligne sous le titre */
        border-radius: 2px; /* Arrondi les bords pour un effet moderne */
    }
    
    /* Animation pour faire apparaître le titre */
    .price-section h1 {
        animation: fadeInTitle 1s ease-out;
    }
    
    @keyframes fadeInTitle {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .price-item {
        background-color: #ffffff; /* Fond légèrement plus clair que le fond global */
        padding: 20px;
        width: 90%;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        text-align: left;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .price-item h3 {
        font-size: 1.5rem;
        color: #111; /* Couleur or pour les titres sur mobile */
        margin-bottom: 10px;
    }

    .price-item .price {
        font-size: 1.8rem;
        font-weight: bold;
        color: #111; /* Texte des prix en blanc pour le contraste */
        margin-bottom: 10px;
    }

    .price-item ul li {
        color: #111; /* Texte des éléments de liste en gris clair pour contraste */
        margin: 5px 0;
    }

    footer {
        background-color: #111;

    }
}
